[include]
  path = ~/.gitconfig.local

[advice]
  detachedHead = false

[alias]
  co = checkout

  # list all branches
  br = branch

  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %Cblue<%an>%Creset' --abbrev-commit --date=iso --all --decorate
  lg2 = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%ad) %C(bold blue)<%an>%Creset' --abbrev-commit

  # show all the commits made in the last n days. Usage: git ld 5
  ld = "!f() { days=${1:-1}; email=$(git config user.email); git log --since=\"$days days ago\" --oneline --author=\"$email\"; }; f"

  last = log -1 --stat
  unstage = reset HEAD --
  count = !git shortlog -sn
  undo = reset HEAD^

  # Show me how many lines this commit adds/removes, in one cute colored line.
  plusminus = "!f() { git show --shortstat \"${1:-HEAD}\" | awk \"/files? changed/ { gsub(/,/, \\\"\\\", \\$4); gsub(/,/, \\\"\\\", \\$6); print \\\"\\033[32m+\\\" \\$4 \\\" \\033[31m-\\\" \\$6 \\\"\\033[0m\\\" }\"; }; f"

  # copies the current branch name to clipboard
  copy-branch-name = "!f() { b=$(git rev-parse --abbrev-ref HEAD) || exit; printf %s \"$b\" | tr -d '\n ' | pbcopy; echo \"Copied branch name: $b\"; }; f"

[apply]
  # If a patch introduces whitespace problems, don’t warn about it. Git will still apply the patch;
  # it just won’t nag you. What counts as “whitespace problems” here is stuff like:
  # * trailing spaces at end of line
  # * spaces-before-tabs in indentation
  whitespace = nowarn

[branch]
  # Show most recently changed branches first.
  sort = -committerdate

[color]
  diff = auto
  status = auto
  branch = auto
  ui = true

[color "diff"]
  meta = yellow bold
  commit = green bold
  frag = magenta bold
  old = red bold
  new = green bold
  whitespace = red reverse

  newMoved = cyan dim
  oldMoved = blue dim
  newMovedAlternative = cyan italic
  oldMovedAlternative = blue italic

[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green

[color "status"]
  added = yellow
  changed = green
  untracked = cyan

[color "diff-highlight"]
  oldNormal = red bold
  oldHighlight = "red bold 52"
  newNormal = "green bold"
  newHighlight = "green bold 22"

[commit]
  # include whole diff in message composition screen
  verbose = true

[core]
  excludesfile = ~/.gitignore

  # With ignorecase = false, Git behaves as if case matters. README.md and readme.md
  # are considered different files.  Renames that only change case (e.g., foo.rb → Foo.rb)
  # are treated as real changes
  ignorecase = false

  # https://git-scm.com/book/en/v2/Customizing-Git-Git-Configuration#_core_autocrlf
  autocrlf = input

  # Git normally pipes output to a pager(like less) instead use delta as the pager.
  pager = delta

[delta]
  navigate = true  # use n and N to move between diff sections
  dark = true      # or light = true, or omit for auto-detection
  side-by-side = true

[diff]
  colorMoved = zebra

[fetch]
  # whenever we run git fetch, Git will automatically “prune” stale remote-tracking branches.
  # If someone deletes a branch on the remote (e.g., origin/old-feature), then after the fetch,
  # Git will also remove your local reference to that remote branch. This doesn't delete the local
  # branches. Only the remote references are removed.
  prune = true

[help]
  # Automatically correct and execute mistyped commands.
  autocorrect = 1

[init]
  # When I execute "git init" then set the default branch name as "main"
  defaultBranch = main

[interactive]
  diffFilter = delta --color-only

[merge]
  # Include summaries of merged commits in newly created merge commit messages
  log = true

[pull]
  ff = only
  rebase = true

[push]
  # Push the current branch to its upstream branch (the one it tracks), typically origin/<same-name>.
  # Refuse to push if that mapping isn’t “simple” (e.g., if your branch name doesn’t match
  # the upstream name, or no upstream is set). That’s the safety feature: it prevents accidentally
  # pushing to the wrong place.
  default = simple

  # Let's say that you created a new branch `git co -b new-feature. When you push this branch to
  # to remote then you need to set `-u` flag like this.
  # git push -u origin new-feature
  #
  # Note that executing `git push -u origin HEAD` also does the same. It pushes the current
  # branch and sets upstream remote.
  #
  # If you set `autoSetupRemote` to `true` then when you do just `git push` then the remote
  # tracking will be automatically set by Git.
  autoSetupRemote = true
